= form_tag shop_search_path, method: :get, id: 'product-search', 'data-pjax' => true do
  = search_field_tag :search, params[:search], name: 'search', placeholder: 'Search..'
  = submit_tag t('shop.action.search'), name: nil
