%section#shopping_cart.box.first-box
  %strong= link_to 'Ostoskori:', shop_shopping_cart_path(session[:shopping_cart_id])
  %br
  - unless @shopping_cart.nil? || @shopping_cart.empty?
    %span#price= @shopping_cart.price
    €
  - else
    Ei tuotteita
    %br
    %span#price 0.0 &euro;
