<section id="shopping_cart">
	<strong><%= link_to 'Ostoskori' %>:</strong><br />
	<% unless @shopping_cart.nil? || @shopping_cart.empty? %>
		<span id="price"><%= @shopping_cart.price %> €</span>
	<% else %>
		Ei tuotteita<br />
		<span id="price">0.0 €</span>
	<% end %>
</section>
