<nav id="shop_navi">
	<% unless @top_categories.nil? %>
	<ul>
		<% @top_categories.each do |top_category| %>
			<li><a href='#'><%= top_category.name %></a></li>
		<% end %>
	</ul>
	<% end %>
</nav>
<section id="sub-navigation-sidebar">
	<%= render 'shop/layouts/search' %>
	<%= render 'shop/layouts/category_menu' %>
</section>
<section id="product-view" class="">
	<%= link_to @product.name, shop_product_path(@product.id) unless @product.nil? %>
</section>
<section id="sidebar">
	<section id="advertisement">
		
	</section>
	<section id="shopping_cart">
		
	</section>
	
</section>
