<nav id="shop_navi">
	<% unless @top_categories.nil? %>
	<ul>
		<% @top_categories.each do |top_category| %>
			<li><a href='#'><%= top_category.name %></a></li>
		<% end %>
	</ul>
	<% end %>
</nav>
<h1>Shop::Shop#home</h1>
<p>Find me in app/views/shop/shop/home.html.erb</p>
