// Place all the styles related to the Shop::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
	float: left;
	margin-left: 3%;
	margin-bottom: 2%;
	width: 28%;
	min-width: 190px;
	border: 1px solid $dark-green;
	@include box-shadow(2px 2px 4px 0 $dark-green);
	.product-image {
		width: 175px;
	}
}

.product:after {
	clear: both;
}

section#product-view {

}

div#product-wrapper {

	> {
		h1,h2,h3,h4 {
			margin-top: 0;
		}
		div#left, div#right {
			float: left;
			width: 50%;
		}
	}
	img {
		width: 100%;
	}
}
