<!DOCTYPE html>
<html>
<head>
  <title>Mall</title>
  <%= stylesheet_link_tag    "mall/application", media: "all" %>
  <%= javascript_include_tag "mall/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
