<div id="left">
	<section id="content">
			<section id="short-introduction">
			<h2>Tervetuola sivuillemme!</h2>
			<p>Olemme koiratarvikkeisiin erikoistunut yritys. Valikoimastamme löydät myös koulutustarvikkeita moneen tarpeeseen. Koko valikoimaamme pääset tutustumaan koiranäyttelyissä.
			</p>
		</section>
	</section>
</div>
<div id="right">
	<aside class="content">
		<section id="next-show"></section>
		<section id="links"></section>
	</aside>
</div>

