<section id="news">
	<% unless @all_news.blank? %>
		<fieldset>
			<legend>Uutiset</legend>
			<%= display_news_items(@all_news) %>
		</fieldset>
	<% else %>
		<p>Ei yhtään uutista järjestelmässä!</p>
	<% end %>
</section>