<h1>Shows</h1>
<table>
	<caption>Seuraavista näyttelyistä löydät meidät vuonna 2011 - 2012 </caption>
	<thead>
		<tr>
			<th scope="col" id="show_time">Aika</th>
			<th scope="col" id="show_name">Nimi</th>
			<th scope="col" id="show_place">Paikka</th>
		</tr>
	</thead>
	<tbody>
		<%= display_show_rows(@earlier_shows) %>
		<tr>
			<td headers="show_name" colspan="4">
				<strong>Menneet näyttelyt tältä vuodelta</strong>
			</td>
		</tr>
		<%= display_show_rows(@upcoming_shows) %>
	</tbody>
</table>