@import "application/index";

.box {
	margin-top: 15px;
	padding: 5px;
	padding-top: 10px;
	@include border-radius(5px);
	border: 1px solid #A9A9A9;
	@include box-shadow(2px 2px 2px 0px #A9A9A9);
}

.first-box {
	margin-top: 0;
}

li > a {
  background: transparent;
}


.error_explanation {
  border: 2px dashed red;
  padding: 5px 10px;
  margin: 5px;
  & > h2 {
    margin-bottom: 0;
  }
  & > ul {
    margin: 0;
    list-style-type: disc;
    list-style-image: none;
  }
}

.shadow {
  @include box-shadow(5px 5px 1px #A9A9A9);
}

.rounded {
  @include border-radius(10px);
}

.rounded-top {
  @include border-top-radius(0.5em);
}


// Icon Font styles

.fontawesome-remove {
  color: red !important;
}

a[class*="fontawesome-"] {
  text-decoration: none;
}

@import "home.css.scss";
@import "shows.css.scss";
@import "contact.css.scss";
@import "stories.css.scss";
@import "header.css.scss";
@import "navigation.css.scss";
@import "footer.css.scss";
@import "links.css.scss";
@import "content.css.scss";
@import "shop/product.css.scss";
@import "shop/shop.css.scss";
@import "flash.css.scss";
@import "layout.css.scss";
@import "fixes.css.scss";
@import "shop/shopping_carts.css.scss";
@import "errors.css.scss";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  padding-right: .5ex
}
