/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

$dark-green: #006400;
$main-gray: #d4d4d4;

@mixin rounded-corners-top($radius) {
  -moz-border-radius: $radius $radius 0 0;
  -webkit-border-radius: $radius $radius 0 0;
  /* for old Konqueror browsers */
  -khtml-border-radius: $radius $radius 0 0;
  /* future proofing */
  border-radius: $radius $radius 0 0;
}

@import "home.css.scss";
@import "shows.css.scss";
@import "contact.css.scss";
@import "news.css.scss";
@import "header.css.scss";
@import "navigation.css.scss";
@import "footer.css.scss";
@import "links.css.scss";
@import "layout.css.scss";
@import "fixes.css.scss";

