#content {
	#contact {
		padding-top: 3%;
		#contactfield {
			border: 1px solid darkGreen;
			padding-left: 1%;
			margin: 0 10% 0 5%;
			text-align: left;
			line-height: 1.5em;

			legend {
				font-weight: bold;
			}
		}
	}
	
}