* {
  @include box-sizing(border-box);
  @include transition(all 0.2s ease);

  background-repeat: no-repeat;
}

html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: auto;
}

ul {
  list-style-image: url('/assets/button15.gif');
}

legend {
  font-weight: bold;
}

.shadow {
  @include box-shadow(5px 5px 1px #A9A9A9);
}

.rounded {
  @include rounded-corners(10px);
}

.rounded-top {
  @include rounded-corners-top(0.5em);
}

body {
  > #content {
    position: relative;
    min-height: $height+0.1em;
    height: auto !important;
    height: $height;
    padding-top: 0;
    margin-top: 0;
    margin-right: 0;
    border-bottom: 1px solid $dark-green;
    border-left: 1px solid $dark-green;
    border-right: 1px solid $dark-green;
    background-color: $main-gray;
  }
  > {
    header, #content, footer { 
      width: 80%;
      min-width: 55em;
      margin: 0 auto;
      position: relative;
    }
  }
}
