a {
	text-decoration: none;
	font-weight: bold;

	&:link {
		background-color: inherit;
		color: green;
	}

	&:active {
		background-color: inherit;
		color: white;
	}

	&:visited {
	  background-color: inherit;
	  color: green;
	}

	&:hover {
	  background-color: inherit;
	  text-decoration: UNDERline;
	  color: $dark-green;
	  font-weight: bold;
	}
}

#links {
	h4 {
		margin-bottom: 2%;
	}

	ul {
		margin-top: 0;
		margin-left: -5%;
	}

	li {
		font-size: smaller;
	}
}
