nav#top-menu {
	font-size: 1.2em;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: 2em;
	text-align: left;
	background-color: inherit;

	.nav-item {
		padding: 5px 7.5px 2px 7.5px;
		margin: 0 3px;
		border-top: 1px solid $dark-green;
		border-left: 1px solid $dark-green;
		border-right: 1px solid $dark-green;

		&:hover {
			background-color: $dark-green;
			text-decoration: none;
		}

		a {

			&:link , &:visited {
				color: white;
				font-weight: normal;
			}

			&:active {
				color: green;
			}

			&:hover {
				background-color: transparent;
				text-decoration: none;
			}
		}

		&.selected {
			background-color: $main-gray;
			padding-bottom: 1%;

			> a {
				color: $dark-green;
			}
		}
	}


}
