#navi {
	font-size: 1.2em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: left;
	background-color: inherit;
}

#navilist {
	list-style: none;
	padding-bottom: 0;
	margin-bottom: 0;
	
	li {
	  	display: inline;
		padding: 5px 10px 5px 10px;
		border-top: 1px solid $dark-green;
		border-left: 1px solid $dark-green;
		border-right: 1px solid $dark-green;

		&:hover {
			background-color: $dark-green;
			color: Green;
			text-decoration: none;
		}

		a:active {
			color: green;
		}
		
		a:link , a:visited {
			color: white;
		 	font-weight: normal;
		}
	}


	a:hover {
  		text-decoration: none;
	}

	.currpage {
  		background-color: $main-gray;

  		&:hover {
			background-color: $main-gray;
			text-decoration: none;
		}
	}
}

#navi .currpage a:link , #navi .currpage a:visited {
  color: $dark-green;
}