%footer#footer
  =raw "#{link_to 'Ylläpito', rails_admin_path, class: 'robots-nocontent'} | #{mail_to 'webmaster@roydon.fi', nil, replace_at: '_at_', replace_dot: '_dot_', encode: :hex, subject: '[ROYDON-WEBMASTER] Contact from website'}"
  %address
    Kuninkaantie 752
    %br
    FI 07110 HINTHAARA
    %br
    +358 (0)40 020 0521
  %small.copyright
    Roydon Ky, Copyright &copy; #{ Date.today.year }
