<nav>
	<ul id="navilist">
		<li id="index" class="rounded-top selected">
			<%= link_to 'Etusivu', root_path, :title => 'Homepage' %>
		</li>
		<li id="shows" class="rounded-top">
			<%= link_to 'Näyttelyt', shows_path, :title => 'Shows' %>
		</li>
		<li id="contact" class="rounded-top">
			<%= link_to 'Yhteystiedot', contact_path, :title => 'Contact Us' %>
		</li>
	</ul>
</nav>