%nav#top-menu
  %span#index.rounded-top.nav-item= link_to 'Etusivu', root_path, title: 'Homepage', class: 'fontawesome-home'
  %span#shows.rounded-top.nav-item= link_to 'Näyttelyt', shows_path, title: 'Shows', class: 'fontawesome-th-list'
  %span#contact.rounded-top.nav-item= link_to 'Yhteystiedot', contact_path, title: 'Contact Us', class: 'fontawesome-envelope'
  %span#shop.rounded-top.nav-item= link_to 'Kauppa', shop_path, title: 'Shop', class: 'fontawesome-shopping-cart'
